@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
    --main: #FFFFFF;
    --accent: #479FF8;
    --bg: #F8F9FD;
    --blue-bg: #2C64BF;
    --dark-blue-bg: #1D4685;
    --unActive: #D8D8D8;

    --main-text: #3C3C3C;
    --second-text: #7E7E7E;
    --danger-text: #EF3232;



    --font-xl: 36px;
    --font-xl2: 32px;
    --font-rt: 24px;
    --font-md: 16px;
    --font-sm: 14px;

    --font-bold: 700;
    --font-thin: 400;

    /* border-radius */

    --br-xl: 15px;
    --br-md: 10px;
    --br-sm: 6px;

    /* border */

    --input-border: #D8D8D8;

    /* margin */

    --m-5xl: 50px;
    --m-4xl: 40px;
    --m-3xl: 30px;
    --m-2xl: 24px;
    --m-xl: 20px;
    --m-md: 15px;
    --m-sm: 10px;
    --m-l: 8px;
}

h1 {
    font-size: var(--font-xl);
}

.hideScrollbar::-webkit-scrollbar {
    display: none;
}

.hideScrollbar {
    -ms-overflow-style: none; 
    scrollbar-width: none; 
}

.blue-text {
    color: var(--accent);
    position: relative;
    display: inline-block;
}
.clicked-reference{
    height: 72px;
}
.blue-text::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -25px; 
    width: 100%;
    height: 5px;
    background-color:  var(--accent);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.underline{
    text-decoration: underline;
}

/* Скрываем scrollbar для Chrome, Safari и Opera */
.example::-webkit-scrollbar {
    display: none;
  }
   
  /* Скрываем scrollbar для IE, Edge и Firefox */
  .example {
    -ms-overflow-style: none;  /* IE и Edge */
    scrollbar-width: none;  /* Firefox */
  }

ul, li, body{
    margin: 0;
    padding: 0;
}

body {
    color: var(--main-text);
    background: var(--bg);
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

p {
    line-height: 1.9;
}

.container {
    width: 1340px;
    margin: auto;
    position: relative;
}

.menu-text a {
    display: flex;
    align-items: center;
    margin-left: 50px;
}

.menu {
    width: 100%;
    height: 72px;

    border-radius: var(--br-md);
    margin-bottom: 50px;

    background: var(--main);

    top: 20px;

    z-index: 1;
    position: sticky;
    justify-content: space-between;
}

.sharix-menu-text {
    font-size: var(--font-rt);
    font-weight: var(--font-thin);
}

.menu-text {
    list-style: none;
    display: flex;
    flex-direction: row;
}

.menu-items {
    margin-left: 50px;
}

.ShariX-icon {
    margin-left: 24px;
    margin-right: 10px;
}

.enter-icon {
    margin-left: 57px;
    margin-right: 29px;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-row-center {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.title {
    font-size: var(--font-xl);
    font-weight: var(--font-bold);
}
.popup-burger-text li{
    width: 200px;
    height: 50px;
    margin-top: 25px;
    margin-bottom: 10px;
    margin-left: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.list-none {
    list-style: none;
}
.items-center{
    display: flex;
    align-items: center;
}
.text-center {
    text-align: center;
}

.flex-column {
    flex-direction: column;
}

.content-between {
    display: flex;
    justify-content: space-between;
}

footer {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 25px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    border-radius: var(--br-md);
    background-color: var(--main);
}

.footer-text {
    color: var(--second-text);
    margin-top: 20px;
}

.footer-text li {
    margin-top: 20px;
}

.footer-row {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.wrap-footer{
    flex-wrap: wrap;
    justify-content: space-around;
}
.mt-25{
    margin-top: 45px;
}
.ml-40 {
    margin-left: 40px;
}
.footer-size{
    font-size: var(--font-sm);
}

/* BUTTON STYLES */

.proto-button {
    padding: var(--m-l) var(--m-2xl);
    border: none;
    border-radius: var(--br-sm);

    font-size: var(--font-sm);
    font-weight: var(--font-bold);
    letter-spacing: 0.4px;

    color: var(--bg);
    background-color: var(--accent);
    
    transition: 0.3s all;
}

button:hover {
    background-color: var(--blue-bg);
}

button:active {
    background-color: var(--dark-blue-bg);
}

button:disabled {
    background-color: var(--unActive);
}

button:disabled:hover {
    background-color: var(--unActive);
}

/* BUTTON STYLES */

.partners-content {
    justify-content: space-between;
    margin-bottom: 308px;
}

.partners-text {
    width: 645px;
    line-height: 1.9;
    text-align: justify;
}

.information-tasks {
    padding-left: 20px;
    padding-bottom: 100px;
    color: var(--accent);
}

.information-tasks li {
    margin-top: 20px;
}

.disk {
    list-style-type: circle;
    margin-left: 20px;
}

.m-auto {
    text-align: center;
}

.content-center {
    display: flex;
    justify-content: center;
}

.footer-top {
    margin-top: 300px;
}

.input-group {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;

    margin: 0.7rem 0;

}

.input-group {
    margin-bottom: 65px;
}
.input-group p{
    top: -110%;
    left: -2%;
    font-weight: 700;
    color: var(--main-text);
}
.input-group:has(textarea) p{
    top: -40%;
}
/* .input-group.active p {
    top: -110%;
    left: -2%;
    font-weight: 700;
    color: var(--main-text);
    padding: 4px 2px;
}

.input-group.active:has(textarea) p{
    top: -40%;
} */

.input-group p {
    margin-left: 10px;
    position: absolute;
}

.input-group input {
    border: 1px solid var(--input-border);
}

.input-group input:focus {
    outline: var(--accent) 1px solid;
}

.input-group .error-input {
    position: absolute;
    bottom: -70%;
    color: var(--danger-text);
}

.second-input {
    width: 100%;
    min-height: 126px;
    border-radius: var(--br-sm);
    resize: none;
}

.second-input:focus {
    outline: var(--accent) 1px solid;
}

.footer-image-margin {
    margin-left: 10px;
}
.fixed-width a{
    width: 100%;
}
.contacts-text {
    width: 705px;
}

.content-around {
    justify-content: space-around;
}

.decoration-none a {
    color: inherit;
    text-decoration: none;
}

.cursor-pointer {
    cursor: pointer;
}

.services-footer{
    width: 174px;
}
.burger{
    width: 26px;
    height: 16px;
    margin-right: 25px;
    display: none;

}
.line{
    width: 100%;
    height: 2px;
    border-radius: 4px;
    background-color: #3C3C3C;
}

.popup{
    background-color: var(--main);
    border-radius: 15px;
}
.login-btn{
    background: none;
    font-size: var(--font-md);
    border-radius: var(--br-md);
    border: 1px solid var(--accent);
}
.cover-enter-icon{
    display: flex;
    align-items: center;
    justify-content: center;
}
@media screen and (max-width: 1340px) {
    .container {
        width: 1100px;
    }
}


@media screen and (max-width: 1100px) {
    .container {
        width: 992px;
    }
}

@media screen and (max-width: 992px) {
    .container {
        width: 768px;
    }
    .blue-text::after {
        display: none;
    }
    .clicked-reference{
        width: 100%;
        height: 50px;
    }
    .popup{
    width: 200px;
    padding-top: 15px;
    padding-right: 25px;
    padding-left: 25px;
    padding-bottom: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    top: 80px;
    right: 0;
    color: var(--accent);
    }
    .menu-text a {
        margin: 0;
        }
    .menu-text {
    gap: 25px;
    height: 100%;
        flex-direction: column;
        justify-content: space-around;
    }
    .clicked-reference{
        width: 450px;
        height: 50px;
    }
    h1{
        font-size: var( --font-xl2);
    }

    .flex-row.adaptive-992 {
        display: flex;
        flex-direction: column;
    }
    .burger{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

@media screen and (max-width: 768px) {
    .container {
        width: 576px;
    }
    .menu{
        margin-bottom: 25px;
    }
    footer{
    display: flex;
    flex-wrap: wrap;
    }

    .content-around.adaptive-content-768{
        gap: 50px;
    }
}
@media screen and (max-width:576px) {
    .container {
        width: 476px;
    }

}
.display-none{
    display: none !important;
}